EXTRACTORY_ENABLE_LIVE_TESTS=false
EXTRACTORY_JIRA_BASE_URL=
EXTRACTORY_JIRA_PAT=
EXTRACTORY_JIRA_USERNAME=
EXTRACTORY_JIRA_PASSWORD=
EXTRACTORY_GERRIT_BASE_URL=
EXTRACTORY_GERRIT_USERNAME=
EXTRACTORY_GERRIT_HTTP_PASSWORD=
EXTRACTORY_GERRIT_BEARER_TOKEN=
